<tr data-id="1" data-title="Security Update for Windows 10" data-source="WSUS" data-software="MS" data-language="English" data-severity="Critical" data-os="Windows 10" data-architecture="x64" data-status="Pending">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>1</td>
    <td>Security Update for Windows 10</td>
    <td>WSUS</td>
    <td>MS</td>
    <td>English</td>
    <td>Critical</td>
    <td>Windows 10</td>
    <td>x64</td>
    <td>Pending</td>
  </tr>
  <tr data-id="2" data-title="Java Runtime Environment Update" data-source="ThirdParty" data-software="Java" data-language="English" data-severity="Important" data-os="Windows 11" data-architecture="x64" data-status="Approved">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>2</td>
    <td>Java Runtime Environment Update</td>
    <td>ThirdParty</td>
    <td>Java</td>
    <td>English</td>
    <td>Important</td>
    <td>Windows 11</td>
    <td>x64</td>
    <td>Approved</td>
  </tr>
  <tr data-id="3" data-title="Chrome Browser Update" data-source="ThirdParty" data-software="Chrome" data-language="Korean" data-severity="Moderate" data-os="Windows 10" data-architecture="x86" data-status="Testing">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>3</td>
    <td>Chrome Browser Update</td>
    <td>ThirdParty</td>
    <td>Chrome</td>
    <td>Korean</td>
    <td>Moderate</td>
    <td>Windows 10</td>
    <td>x86</td>
    <td>Testing</td>
  </tr>
  <tr data-id="4" data-title="Adobe Reader Security Update" data-source="ThirdParty" data-software="Adobe Reader" data-language="English" data-severity="Important" data-os="Windows 7" data-architecture="x86" data-status="Rejected">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>4</td>
    <td>Adobe Reader Security Update</td>
    <td>ThirdParty</td>
    <td>Adobe Reader</td>
    <td>English</td>
    <td>Important</td>
    <td>Windows 7</td>
    <td>x86</td>
    <td>Rejected</td>
  </tr>
  <tr data-id="5" data-title="Microsoft Office Patch" data-source="WSUS" data-software="MS" data-language="Korean" data-severity="Low" data-os="Windows 10" data-architecture="x64" data-status="Approved">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>5</td>
    <td>Microsoft Office Patch</td>
    <td>WSUS</td>
    <td>MS</td>
    <td>Korean</td>
    <td>Low</td>
    <td>Windows 10</td>
    <td>x64</td>
    <td>Approved</td>
  </tr>
  <tr data-id="6" data-title="Windows 8.1 Update" data-source="WSUS" data-software="MS" data-language="English" data-severity="Critical" data-os="Windows 8.1" data-architecture="x64" data-status="Incomplete">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>6</td>
    <td>Windows 8.1 Update</td>
    <td>WSUS</td>
    <td>MS</td>
    <td>English</td>
    <td>Critical</td>
    <td>Windows 8.1</td>
    <td>x64</td>
    <td>Incomplete</td>
  </tr>
  <tr data-id="7" data-title="Hancom Office Update" data-source="ThirdParty" data-software="Hancom" data-language="Korean" data-severity="Moderate" data-os="Windows 10" data-architecture="x64" data-status="Approved">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>7</td>
    <td>Hancom Office Update</td>
    <td>ThirdParty</td>
    <td>Hancom</td>
    <td>Korean</td>
    <td>Moderate</td>
    <td>Windows 10</td>
    <td>x64</td>
    <td>Approved</td>
  </tr>
  <tr data-id="8" data-title="Adobe Flash Player Update" data-source="ThirdParty" data-software="Adobe Flash" data-language="English" data-severity="Critical" data-os="Windows 7" data-architecture="x86" data-status="Pending">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>8</td>
    <td>Adobe Flash Player Update</td>
    <td>ThirdParty</td>
    <td>Adobe Flash</td>
    <td>English</td>
    <td>Critical</td>
    <td>Windows 7</td>
    <td>x86</td>
    <td>Pending</td>
  </tr>
  <tr data-id="9" data-title="Windows XP Security Patch" data-source="WSUS" data-software="MS" data-language="English" data-severity="Important" data-os="Windows XP" data-architecture="x86" data-status="Rejected">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>9</td>
    <td>Windows XP Security Patch</td>
    <td>WSUS</td>
    <td>MS</td>
    <td>English</td>
    <td>Important</td>
    <td>Windows XP</td>
    <td>x86</td>
    <td>Rejected</td>
  </tr>
  <tr data-id="10" data-title="Java SE Runtime Environment 8 Update" data-source="ThirdParty" data-software="Java" data-language="Korean" data-severity="Moderate" data-os="Windows 11" data-architecture="x64" data-status="Approved">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>10</td>
    <td>Java SE Runtime Environment 8 Update</td>
    <td>ThirdParty</td>
    <td>Java</td>
    <td>Korean</td>
    <td>Moderate</td>
    <td>Windows 11</td>
    <td>x64</td>
    <td>Approved</td>
  </tr>
  <tr data-id="11" data-title="Chrome Browser Security Fix" data-source="ThirdParty" data-software="Chrome" data-language="English" data-severity="Critical" data-os="Windows 10" data-architecture="x64" data-status="Pending">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>11</td>
    <td>Chrome Browser Security Fix</td>
    <td>ThirdParty</td>
    <td>Chrome</td>
    <td>English</td>
    <td>Critical</td>
    <td>Windows 10</td>
    <td>x64</td>
    <td>Pending</td>
  </tr>
  <tr data-id="12" data-title="Windows Vista Service Pack" data-source="WSUS" data-software="MS" data-language="English" data-severity="Important" data-os="Windows Vista" data-architecture="x86" data-status="Approved">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>12</td>
    <td>Windows Vista Service Pack</td>
    <td>WSUS</td>
    <td>MS</td>
    <td>English</td>
    <td>Important</td>
    <td>Windows Vista</td>
    <td>x86</td>
    <td>Approved</td>
  </tr>
  <tr data-id="13" data-title="Firefox Browser Update" data-source="ThirdParty" data-software="Firefox" data-language="English" data-severity="Moderate" data-os="Windows 10" data-architecture="x64" data-status="Ignored">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>13</td>
    <td>Firefox Browser Update</td>
    <td>ThirdParty</td>
    <td>Firefox</td>
    <td>English</td>
    <td>Moderate</td>
    <td>Windows 10</td>
    <td>x64</td>
    <td>Ignored</td>
  </tr>
  <tr data-id="14" data-title="Linux Kernel Update" data-source="ThirdParty" data-software="Linux" data-language="English" data-severity="Critical" data-os="Linux" data-architecture="x64" data-status="Testing">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>14</td>
    <td>Linux Kernel Update</td>
    <td>ThirdParty</td>
    <td>Linux</td>
    <td>English</td>
    <td>Critical</td>
    <td>Linux</td>
    <td>x64</td>
    <td>Testing</td>
  </tr>
  <tr data-id="15" data-title="MacOS Security Update" data-source="ThirdParty" data-software="Apple" data-language="English" data-severity="Important" data-os="MacOS" data-architecture="x64" data-status="Downloading">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>15</td>
    <td>MacOS Security Update</td>
    <td>ThirdParty</td>
    <td>Apple</td>
    <td>English</td>
    <td>Important</td>
    <td>MacOS</td>
    <td>x64</td>
    <td>Downloading</td>
  </tr>
  <tr data-id="16" data-title="Ubuntu Patch Update" data-source="ThirdParty" data-software="Ubuntu" data-language="English" data-severity="Moderate" data-os="Ubuntu" data-architecture="x64" data-status="Approved">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>16</td>
    <td>Ubuntu Patch Update</td>
    <td>ThirdParty</td>
    <td>Ubuntu</td>
    <td>English</td>
    <td>Moderate</td>
    <td>Ubuntu</td>
    <td>x64</td>
    <td>Approved</td>
  </tr>
  <tr data-id="17" data-title="Red Hat Security Patch" data-source="ThirdParty" data-software="Red Hat" data-language="English" data-severity="Important" data-os="Red Hat" data-architecture="x64" data-status="Incomplete">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>17</td>
    <td>Red Hat Security Patch</td>
    <td>ThirdParty</td>
    <td>Red Hat</td>
    <td>English</td>
    <td>Important</td>
    <td>Red Hat</td>
    <td>x64</td>
    <td>Incomplete</td>
  </tr>
  <tr data-id="18" data-title="Oracle Database Update" data-source="ThirdParty" data-software="Oracle" data-language="English" data-severity="Critical" data-os="Linux" data-architecture="x64" data-status="Testing">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>18</td>
    <td>Oracle Database Update</td>
    <td>ThirdParty</td>
    <td>Oracle</td>
    <td>English</td>
    <td>Critical</td>
    <td>Linux</td>
    <td>x64</td>
    <td>Testing</td>
  </tr>
  <tr data-id="19" data-title="Windows Server Update" data-source="WSUS" data-software="MS" data-language="English" data-severity="Important" data-os="Windows Server" data-architecture="x64" data-status="Approved">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>19</td>
    <td>Windows Server Update</td>
    <td>WSUS</td>
    <td>MS</td>
    <td>English</td>
    <td>Important</td>
    <td>Windows Server</td>
    <td>x64</td>
    <td>Approved</td>
  </tr>
  <tr data-id="20" data-title="CentOS Patch Update" data-source="ThirdParty" data-software="CentOS" data-language="English" data-severity="Moderate" data-os="CentOS" data-architecture="x64" data-status="Downloading">
    <td><input type="checkbox" class="row-checkbox"></td>
    <td>20</td>
    <td>CentOS Patch Update</td>
    <td>ThirdParty</td>
    <td>CentOS</td>
    <td>English</td>
    <td>Moderate</td>
    <td>CentOS</td>
    <td>x64</td>
    <td>Downloading</td>
  </tr>
  